<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/main :: head">
</head>
<body>
<nav th:replace="fragments/main :: nav"/>
<div class="container">
    <h2>Dette for admin!</h2>

    <p>
        <a href="/admin/butik"> Tryk her </a>for at opdatere info omkring Butikken!
    </p>
    <p>
        <a href="/admin/prod"> Tryk her </a>for at oprette/opdatere/slette Produkter!
    </p>
    <p>
        <a href="/admin/nyhed"> Tryk her </a>for at oprette/slette nyhedsbrev!
    </p>
    <p>
        <a href="/admin/repair"> Tryk her </a>for at oprette/opdatere/slette reperationsliste
    </p>
    <p>
        <a th:href="${'/admin/reparationspriser'}"> Tryk her </a> for at oprette/opdatere/slette reparationspriserne
    </p>
    <p>
        <a th:href="${'/admin/betingelser'}"> Tryk her </a> for at opdatere betingelser
    </p>

</div>
</body>
</html>