<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/main :: head">
</head>
<body>
<nav th:replace="fragments/main :: nav" />
<div class="container">
<h1>Visning af butikinfo</h1>

<p th:each="butik : ${butikker}">
    <span th:text="${butik.navn}"/>
</p>
<p th:each="butik : ${butikker}">
    <span th:text="${butik.adresse}"/>
</p>
<p th:each="butik : ${butikker}">
    <span th:text="${butik.mobilNummer}"/>
</p>
<p th:each="butik : ${butikker}">
    <span th:text="${butik.beskrivelse}"/>
</p>
<p th:each="butik : ${butikker}">
    <span th:text="${butik.aabningstider}"/>
</p>
<p th:each="butik : ${butikker}">
    <span th:text="${butik.email}"/>
</p>
<p th:each="butik : ${butikker}">
    <button type="button" class="btn btn-info">
        <a style="color:red;" th:href="@{'/admin/update/' + ${butik.idButik}}">opdater</a>
    </button>
</p>

</div>
</body>
</html>