<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/main :: head">
</head>
<body>
<nav th:replace="fragments/main :: nav" />
<div class="container">
<h1>Opret en ny Produkt</h1>

<form action="/admin/create" method="post">
    <div class="form-group">
        <input type="text" name="navn" class="form-control" placeholder="Skriv produktets navn">
    </div>
    <div class="form-group">
        <input type="text" name="pris" class="form-control" placeholder="Skriv en pris" required pattern="^[0-9]*$">
    </div>
    <div class="form-group">
        <input type="text" name="beskrivelse" class="form-control" placeholder="Skriv en produktbeskrivelse">
    </div>
    <div class="kategoriliste">
        <select name="Kategori_idKategori">
            <option value="1">Mobil</option>
            <option value="2">Pc</option>
            <option value="3">Tilbehør</option>
        </select>
    </div>
    <!-- når der trykkes submit udføres action -->
    <button type="submit" class="btn btn-primary">Opret</button>
</form>

</div>
</body>
</html>