<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/frontend :: head">
</head>
<body>
<nav th:replace="fragments/frontend :: nav" />
</p>
<div class="container">
    <div class="row">
        <div class="col-md-6">
        </div>
    </div>
    <div style="text-align: center">
        <h2>Dette er Info omkring butikken.</h2>

        <p th:each="butik : ${butikker}">
            <span th:text="${butik.navn}"/>
        </p>
        <p th:each="butik : ${butikker}">
            Adresse:
            <span th:text="${butik.adresse}"/>
        </p>
        <p th:each="butik : ${butikker}">
            <span th:text="${butik.mobilNummer}"/>
        </p>
        <p th:each="butik : ${butikker}">
            <span th:text="${butik.beskrivelse}"/>
        </p>
        <p th:each="butik : ${butikker}">
            <span th:text="${butik.aabningstider}"/>
        </p>
        <p th:each="butik : ${butikker}">
            <span th:text="${butik.email}"/>
        </p>
    </div>
</div>
</body>
</html>