<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/main :: head">
</head>
<body>
<nav th:replace="fragments/main :: nav" />
<div class="container">

    <h1>Visning af produkter</h1>

    <p th:each="produkter : ${produkt}">
        <a style="color:blueviolet;" th:href="@{'/admin/updateprod/' + ${produkter.idProdukter}}">Opdater</a>
        <span th:text="${produkter.navn}"/>
        <span th:text="${produkter.pris}"/>
        <span th:text="${produkter.beskrivelse}"/>
        <span th:text="${produkter.Kategori_idKategori}"/>
        <a style="color:red;" th:href="@{'/admin/delete/' + ${produkter.idProdukter}}">Slet</a>
    </p>

        <a href="/admin/create">Opret en produkt</a>

</div>
</body>
</html>