<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/main :: head">
</head>
<body>
<nav th:replace="fragments/main :: nav" />
<div class="container">
    <h1>Opdater Butik</h1>

    <!-- formular til indtastning af person -->
    <form action="/admin/update" method="post">
        <div class="form-group">
            <!-- hidden input felt til at få id med -->
            <input type="hidden" name="idButik" th:value="${butikker.idButik}">
            <input type="text" name="navn" class="form-control" th:value="${butikker.navn}">
        </div>
        <div class="form-group">
            <input type="text" name="adresse" class="form-control" th:value="${butikker.adresse}">
        </div>
        <div class="form-group">
            <input type="text" name="mobilNummer" required pattern="^[0-9]*$" class="form-control" th:value="${butikker.mobilNummer}">
        </div>
        <div class="form-group">
            <input type="text" name="beskrivelse" class="form-control" th:value="${butikker.beskrivelse}">
        </div>
        <div class="form-group">
            <input type="text" name="aabningstider" class="form-control" th:value="${butikker.aabningstider}">
        </div>
        <div class="form-group">
            <input type="text" name="email" class="form-control" th:value="${butikker.email}">
        </div>
        <!-- når der trykkes submit udføres action -->
        <button type="submit" class="btn btn-primary">Opdater</button>
    </form>

</div>
</body>
</html>