<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/main :: head">
</head>
<body>
<nav th:replace="fragments/main :: nav" />
<div class="container">

    <h1>Opdater produkt</h1>

    <!-- formular til indtastning af person -->
    <form action="/admin/updateprod" class="col-md-6" method="post">
        <div class="form-group">
            <!-- hidden input felt til at få id med -->
            <input type="hidden" name="idProdukter" th:value="${produkt.idProdukter}">
            <input type="text" name="navn" class="form-control" th:value="${produkt.navn}">
        </div>
        <div class="form-group">
            <input type="text" name="pris" class="form-control" th:value="${produkt.pris}" required pattern="^[0-9]*$">
        </div>
        <div class="form-group">
            <input type="text" name="beskrivelse" class="form-control" th:value="${produkt.beskrivelse}">
        </div>


        <div class="kategoriliste">
            <select class="form-control" name="Kategori_idKategori">
                <!-- Looper igennem alle kategorier, hvis kategori id'et matcher med produktets kategori id så laves der en option med attributen selected-->
                <option th:each="kategori : ${Kategorier}" th:if="${kategori.idKategori == produkt.Kategori_idKategori}" selected th:value="${kategori.idKategori}" th:text="${kategori.navn}" />
                <!-- Looper igennem alle kategorier og printer de andre nedenunder produkters kategori-->
                <option th:each="kategori : ${Kategorier}" th:unless="${kategori.idKategori == produkt.Kategori_idKategori}" th:value="${kategori.idKategori}" th:text="${kategori.navn}" />
            </select>
        </div>

        <!-- når der trykkes submit udføres action -->
        <button type="submit" class="btn btn-primary">Opdater</button>
    </form>
</div>
</body>
</body>
</html>