<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/main :: head">
</head>
<body>
<nav th:replace="fragments/main :: nav" />

<div class="container">

    <h1>Opdater produkt</h1>

    <!-- formular til indtastning af person -->
    <form action="/admin/updatereparationspriser" method="post">
        <div class="form-group">
            <!-- hidden input felt til at få id med -->
            <input type="hidden" name="idReparationspriser" th:value="${pris.idReparationspriser}">
            <input type="text" name="brand" class="form-control" th:value="${pris.brand}">
        </div>
        <div class="form-group">
            <input type="text" name="model" class="form-control" th:value="${pris.model}">
        </div>
        <div class="form-group">
            <input type="text" name="tid" class="form-control" th:value="${pris.tid}">
        </div>
        <div class="form-group">
            <input type="text" name="beskrivelse" class="form-control" th:value="${pris.beskrivelse}">
        </div>
        <div class="form-group">
            <input type="text" name="pris" class="form-control" th:value="${pris.pris}" required pattern="^[0-9]*$">
        </div>

        <button type="submit" class="btn btn-primary">Opdater</button>

    </form>

</div>

</body>
</html>

